@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> CHANNEL ENGINE CODE ASSIGNMENT</p>
    <p>This project is made according to the assignment requirements. </p>
    <p>RestSharp is used to create rest api client </p>
    <p>Please use 'Orders' menu to see the orders and top 5 sold products</p>
</div>